.videos-container{
   
    display: grid;
    height:100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 5px;
    grid-template-areas: "main-video other-videos"
                        "main-vdetails other-videos";
}

#main-video{

    color: white;
    grid-area:main-video ;
}
#other-videos{
   
    grid-area: other-videos ;
}
#main-vdetails{
    grid-area:main-vdetails;

}
