.videos-container{
   
    display: grid;
    height:100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 5px;
    grid-template-areas: "main-video other-videos"
                        "main-video other-videos";
}

#main-video{

    
    grid-area:main-video ;
}
#other-videos{
    overflow-y: scroll;
    grid-area: other-videos ;
}
#main-vdetails{
    grid-area:main-vdetails;

}

@media only screen and (max-width: 900px) {
    .videos-container{
   
        display: grid;
        height:100vh;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 4fr 1fr;
        grid-column-gap: 5px;
        grid-template-areas: "main-video main-video"
                            "other-videos other-videos";
    }
    #other-videos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        overflow-x: scroll;
        grid-area: other-videos ;
    }
  }
